<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Man Power</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>
    <script sync
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYQigCYpTDA190O1pmQVrT0_4dvBhVPYk&callback=initMap">
        </script>

    <script>
        navigator.geolocation.getCurrentPosition(function (position) {
            var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            console.log(pos.lat, pos.lng);
            // var geocoder = new google.maps.Geocoder;
            // geocoder.geocode({ 'location': pos }, function (results, status) {
            //     console.log(status);
            //     console.log(results);
            //     if (status === 'OK') {
            //         if (results[0]) {
            //             console.log(results[0]);
            //         } else {
            //             window.alert('No results found');
            //         }
            //     } else {
            //         window.alert('Geocoder failed due to: ' + status);
            //     }
            // });
        });
</script>
   
    <%- include("./navbar.ejs") -%>