<%- include("partials/header.ejs") -%>

<div class="container" style="padding: 10px;">
    <div class="row">

        <div class=" col-lg col-sm-12 col-xs-12 card cookingCard" style="text-align: center;">
            <a href="/cooking">
                <div class="row">
                    <!--Primary Image in the card  -->
                    <div class="cardImagePrimary innerCardContent col">
                        <img src="https://image.flaticon.com/icons/svg/3058/3058973.svg" alt="cooking-img"
                            class="cardImagePrimary">
                    </div>
                    <div class="col" style="padding-top: 20px; ">
                        <!-- rate -->
                        <div class=" row cardRate innerCardContent">
                            <span>
                                <br>
                                <h6>Starting From 299/-</h6>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Found -->
                
                <div class="row py-sm-4 py-xs-4" style="">
                    <div class="foundNearYou innerCardContent col">
                        <h6>4 Cook found Near You</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class=" col-lg col-sm-12 col-xs-12 card cleaningCard" style="text-align: center;">
            <a href="/cleaning">
                <!-- <h6 class="cardText">Cleaning</h6> -->
                <div class="row">
                    <!--Primary Image in the card  -->
                    <div class="cardImagePrimary innerCardContent col">
                        <img src="https://image.flaticon.com/icons/svg/3030/3030786.svg" alt="cooking-img"
                            class="cardImagePrimary">
                    </div>
                    <div class="col" style="padding-top: 20px; ">
                        <!-- rate -->
                        <div class=" row cardRate innerCardContent">
                            <span>
                                <br>
                                <h6>Starting From 299/-</h6>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Found -->
                
                <div class="row py-sm-4 py-xs-4" style="">
                    <div class="foundNearYou innerCardContent col">
                        <h6>4 Cleaner found Near You</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class=" col-lg col-sm-12 col-xs-12 card nurseCard" style="text-align: center;">
            <a href="/nurse">
                <!-- <h6 class="cardText">Nurse</h6> -->
                <div class="row">
                    <!--Primary Image in the card  -->
                    <div class="cardImagePrimary innerCardContent col">
                        <img src="https://image.flaticon.com/icons/svg/3011/3011274.svg" alt="cooking-img"
                            class="cardImagePrimary">
                    </div>
                    <div class="col" style="padding-top: 20px; ">
                        <!-- rate -->
                        <div class=" row cardRate innerCardContent">
                            <span>
                                <br>
                                <h6>Starting From 299/-</h6>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Found -->
                
                <div class="row py-sm-4 py-xs-4" style="">
                    <div class="foundNearYou innerCardContent col">
                        <h6>4 Nurse found Near You</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class=" col-lg col-sm-12 col-xs-12 card babysitterCard" style="text-align: center;">
            <a href="/baby-sitter">
                <!-- <h6 class="cardText">Baby Sitter</h6> -->
                <div class="row">
                    <!--Primary Image in the card  -->
                    <div class="cardImagePrimary innerCardContent col">
                        <img src="https://image.flaticon.com/icons/svg/83/83079.svg" alt="cooking-img"
                            class="cardImagePrimary">
                    </div>
                    <div class="col" style="padding-top: 20px; ">
                        <!-- rate -->
                        <div class=" row cardRate innerCardContent">
                            <span>
                                <br>
                                <h6>Starting From 299/-</h6>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Found -->
                
                <div class="row py-sm-4 py-xs-4" style="">
                    <div class="foundNearYou innerCardContent col p-0">
                        <h6>4 Baby Sitter found Near You</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">

        <div class=" col-lg col-sm-12 col-xs-12 card laundaryCard" style="text-align: center;">
            <a href="/laundary">
                <!-- <h6 class="cardText">Laundary</h6> -->
                <div class="row">
                    <!--Primary Image in the card  -->
                    <div class="cardImagePrimary innerCardContent col">
                        <img src="https://image.flaticon.com/icons/svg/1010/1010284.svg" alt="cooking-img"
                            class="cardImagePrimary">
                    </div>
                    <div class="col" style="padding-top: 20px; ">
                        <!-- rate -->
                        <div class=" row cardRate innerCardContent">
                            <span>
                                <br>
                                <h6>Starting From 299/-</h6>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Found -->
                
                <div class="row py-sm-4 py-xs-4" style="">
                    <div class="foundNearYou innerCardContent col">
                        <h6>4 Laundary found Near You</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class=" col-lg col-sm-12 col-xs-12 card waterCaneSupplyCard" style="text-align: center;">
            <a href="/water-cane-supply">
                <!-- <h6 class="cardText">Water Cane Supply</h6> -->
                <div class="row">
                    <!--Primary Image in the card  -->
                    <div class="cardImagePrimary innerCardContent col">
                        <img src="https://image.flaticon.com/icons/svg/1185/1185736.svg" alt="cooking-img"
                            class="cardImagePrimary">
                    </div>
                    <div class="col" style="padding-top: 20px; ">
                        <!-- rate -->
                        <div class=" row cardRate innerCardContent">
                            <span>
                                <br>
                                <h6>Starting From 299/-</h6>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Found -->
                
                <div class="row py-sm-4 py-xs-4">
                    <div class="foundNearYou innerCardContent col">
                        <h6>Water Cane Supply found Near You</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class=" col-lg col-sm-12 col-xs-12 card groceryDeliveryCard" style="text-align: center;">
            <a href="/grocery-delivery">
                <!-- <h6 class="cardText">Grocery Delivery</h6> -->
                <div class="row">
                    <!--Primary Image in the card  -->
                    <div class="cardImagePrimary innerCardContent col">
                        <img src="https://www.flaticon.com/premium-icon/icons/svg/869/869449.svg" alt="cooking-img"
                            class="cardImagePrimary">
                    </div>
                    <div class="col" style="padding-top: 20px; ">
                        <!-- rate -->
                        <div class=" row cardRate innerCardContent">
                            <span>
                                <br>
                                <h6>Starting From 299/-</h6>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Found -->
                
                <div class="row py-sm-4 py-xs-4" style="">
                    <div class="foundNearYou innerCardContent col p-0">
                        <h6>4 Grocery Delivery found Near You</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class=" col-lg col-sm-12 col-xs-12 card trailorCard" style="text-align: center;">
            <a href="/trailor">
                <!-- <h6 class="cardText">Trailor</h6> -->
                <div class="row">
                    <!--Primary Image in the card  -->
                    <div class="cardImagePrimary innerCardContent col">
                        <img src="https://image.flaticon.com/icons/svg/3209/3209505.svg" alt="cooking-img"
                            class="cardImagePrimary">
                    </div>
                    <div class="col" style="padding-top: 20px; ">
                        <!-- rate -->
                        <div class=" row cardRate innerCardContent">
                            <span>
                                <br>
                                <h6>Starting From 299/-</h6>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Found -->
                
                <div class="row py-sm-4 py-xs-4" style="">
                    <div class="foundNearYou innerCardContent col">
                        <h6>4 Trailor found Near You</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">

        <div class=" col-lg col-sm-12 col-xs-12 card bueticianCard" style="text-align: center;">
            <a href="/buetician">
                <!-- <h6 class="cardText">Buetician</h6> -->
                <div class="row">
                    <!--Primary Image in the card  -->
                    <div class="cardImagePrimary innerCardContent col">
                        <img src="https://www.flaticon.com/premium-icon/icons/svg/2859/2859583.svg"
                            alt="cooking-cardImagePrimary" class="cardImageSecondary">
                    </div>
                    <div class="col" style="padding-top: 20px; ">
                        <!-- rate -->
                        <div class=" row cardRate innerCardContent">
                            <span>
                                <br>
                                <h6>Starting From 299/-</h6>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Found -->
                
                <div class="row py-sm-4 py-xs-4" style="">
                    <div class="foundNearYou innerCardContent col">
                        <h6>4 Buetician found Near You</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class=" col-lg col-sm-12 col-xs-12 card meatDeliveryCard" style="text-align: center;">
            <a href="/meat-delivery">
                <!-- <h6 class="cardText">Meat Delivery</h6> -->
                <div class="row">
                    <!--Primary Image in the card  -->
                    <div class="cardImagePrimary innerCardContent col">
                        <img src="https://www.flaticon.com/premium-icon/icons/svg/1532/1532685.svg"
                            alt="cooking-cardImagePrimary" class="cardImageSecondary">
                    </div>
                    <div class="col" style="padding-top: 20px; ">
                        <!-- rate -->
                        <div class=" row cardRate innerCardContent">
                            <span>
                                <br>
                                <h6>Starting From 299/-</h6>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Found -->
                
                <div class="row py-sm-4 py-xs-4" style="">
                    <div class="foundNearYou innerCardContent col">
                        <h6>4 Meat Delivery found Near You</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class=" col-lg col-sm-12 col-xs-12 card tutorCard" style="text-align: center;">
            <a href="/tutor">
                <!-- <h6 class="cardText">Tutor</h6> -->
                <div class="row">
                    <!--Primary Image in the card  -->
                    <div class="cardImagePrimary innerCardContent col">
                        <img src="https://www.flaticon.com/premium-icon/icons/svg/3200/3200684.svg"
                            alt="cooking-cardImagePrimary" class="cardImageSecondary">
                    </div>
                    <div class="col" style="padding-top: 20px; ">
                        <!-- rate -->
                        <div class=" row cardRate innerCardContent">
                            <span>
                                <br>
                                <h6>Starting From 299/-</h6>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Found -->
                
                <div class="row py-sm-4 py-xs-4" style="">
                    <div class="foundNearYou innerCardContent col">
                        <h6>0 Tutor found Near You</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class=" col-lg col-sm-12 col-xs-12 card tiffinServicesCard" style="text-align: center;">
            <a href="/tiffin-services">
                <!-- <h6 class="cardText">Tiffin Services</h6> -->
                <div class="row">
                    <!--Primary Image in the card  -->
                    <div class="cardImagePrimary innerCardContent col">
                        <img src="https://www.flaticon.com/premium-icon/icons/svg/1019/1019680.svg"
                            alt="cooking-cardImagePrimary" class="cardImageSecondary">
                    </div>
                    <div class="col" style="padding-top: 20px; ">
                        <!-- rate -->
                        <div class=" row cardRate innerCardContent">
                            <span>
                                <br>
                                <h6>Starting From 299/-</h6>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Found -->
                
                <div class="row py-sm-4 py-xs-4" style="">
                    <div class="foundNearYou innerCardContent col">
                        <h6>10 Tiffin Services found Near You</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>



<%- include("partials/footer.ejs") -%>