<%- include("partials/header.ejs") -%>

<div class="container" style="padding: 10px;">
    <div class="row">
        <div class="col card cookingCard" style="text-align: center;">
            <a href="/cooking">
                <div class="row">
                    <!--Primary Image in the card  -->
                    <div class="cardImagePrimary innerCardContent col-lg-6">
                        <img src="https://image.flaticon.com/icons/svg/2919/2919600.svg" alt=""
                            class="cardImagePrimary">
                    </div>
                    <div class="col-lg-6" style="padding-top: 20px; ">
                        <!-- rate -->
                        <div class=" row cardRate innerCardContent">
                            <span>
                                <h6>Starting From 299/-</h6>
                            </span>
                        </div>
                        <!-- Secondary card -->
                        <div class="row cardImageSecondary innerCardContent">
                            <img src="https://image.flaticon.com/icons/svg/3058/3058973.svg" alt="cooking-img"
                                class="cardImageSecondary">
                        </div>
                    </div>
                </div>
                <!-- Found -->
                <div class="row">
                    <div class="foundNearYou innerCardContent col">
                        <h5>4 Maid found Near You</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col card cleaningCard" style="text-align: center;">
            <a href="#">
                <h6 class="cardText">Cleaning</h6>
            </a>
        </div>
        <div class="col card nurseCard" style="text-align: center;">
            <a href="#">
                <h6 class="cardText">Nurse</h6>
            </a>
        </div>
        <div class="col card babysitterCard" style="text-align: center;">
            <a href="#">
                <h6 class="cardText">Baby Sitter</h6>
            </a>
        </div>
    </div>
    <div class="row">

        <div class="col card laundaryCard" style="text-align: center;">
            <a href="#">
                <h6 class="cardText">Laundary</h6>
            </a>
        </div>
        <div class="col card waterCaneSupplyCard" style="text-align: center;">
            <a href="#">
                <h6 class="cardText">Water Cane Supply</h6>
            </a>
        </div>
        <div class="col card groceryDeliveryCard" style="text-align: center;">
            <a href="#">
                <h6 class="cardText">Grocery Delivery</h6>
            </a>
        </div>
        <div class="col card trailorCard" style="text-align: center;">
            <a href="#">
                <h6 class="cardText">Trailor</h6>
            </a>
        </div>
    </div>
    <div class="row">

        <div class="col card bueticianCard" style="text-align: center;">
            <a href="#">
                <h6 class="cardText">Buetician</h6>
            </a>
        </div>
        <div class="col card meatDeliveryCard" style="text-align: center;">
            <a href="#">
                <h6 class="cardText">Meat Delivery</h6>
            </a>
        </div>
        <div class="col card tutorCard" style="text-align: center;">
            <a href="#">
                <h6 class="cardText">Tutor</h6>
            </a>
        </div>
        <div class="col card tiffinServicesCard" style="text-align: center;">
            <a href="#">
                <h6 class="cardText">Tiffin Services</h6>
            </a>
        </div>
    </div>

</div>



<%- include("partials/footer.ejs") -%>