<%- include("partials/header.ejs") -%>
<style>
    .register {
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
        margin-top: 3%;
        padding: 3%;
    }

    .register-left {
        text-align: center;
        color: #fff;
        margin-top: 4%;
    }

    .register-left input {
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        width: 60%;
        background: #f8f9fa;
        font-weight: bold;
        color: #383d41;
        margin-top: 30%;
        margin-bottom: 3%;
        cursor: pointer;
    }

    .register-right {
        background: #f8f9fa;
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
    }

    .register-left img {
        margin-top: 15%;
        margin-bottom: 5%;
        width: 25%;
        -webkit-animation: mover 2s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    @-webkit-keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-20px);
        }
    }

    @keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-20px);
        }
    }

    .register-left p {
        font-weight: lighter;
        padding: 12%;
        margin-top: -9%;
    }

    .register .register-form {
        padding: 10%;
        margin-top: 10%;
    }

    .btnRegister {
        float: right;
        margin-top: 10%;
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        background: #0062cc;
        color: #fff;
        font-weight: 600;
        width: 50%;
        cursor: pointer;
    }

    .register .nav-tabs {
        margin-top: 3%;
        border: none;
        background: #0062cc;
        border-radius: 1.5rem;
        width: 28%;
        float: right;
    }

    .register .nav-tabs .nav-link {
        padding: 2%;
        height: 34px;
        font-weight: 600;
        color: #fff;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }

    .register .nav-tabs .nav-link:hover {
        border: none;
    }

    .register .nav-tabs .nav-link.active {
        width: 100px;
        color: #0062cc;
        border: 2px solid #0062cc;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
    }

    .register-heading {
        text-align: center;
        margin-top: 8%;
        margin-bottom: -15%;
        color: #495057;
    }
</style>
<div class="container register ">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Welcome</h3>
            <p>You are 2 minutes away from earning your own money!</p>
        </div>
        <div class="col-md-9 register-right">

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Registraion as Service Provider</h3>
                    <form class="row register-form" method="POST" action="/register">
                        <div class="col-md-6 col-lg-12">
                            <div class="row">
                                <!-- FirstName -->
                                <div class="form-group col-lg-4">
                                    <input type="text" class="form-control" placeholder="First Name *" name= "firstName"value="" />
                                </div>
                                <!-- LastName -->
                                <div class="form-group col-lg-4">
                                    <input type="text" class="form-control" placeholder="Last Name *" name = "lastName" value="" />
                                </div>
                                <!-- Gender -->
                                <div class="form-group col-lg-4">
                                    <div class="maxl">
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="male" checked>
                                            <span> Male </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="female">
                                            <span>Female </span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <!-- Your Services -->
                                <div class="form-group col-lg-6">
                                    <select class="form-control" name = "service">
                                        <option class="hidden"  selected disabled>Please select your Service *
                                        </option>
                                        <option>Cooking</option>
                                        <option>Cleaning</option>
                                        <option>Tiffin Services</option>
                                    </select>
                                </div>
                                <!-- Mobile Numeber -->
                                <div class="form-group col-lg-6">
                                    <input type="text" minlength="10" maxlength="10" name="mobileNumber" class="form-control" placeholder="Your Phone *"
                                        value="" />
                                </div>
                            </div>
                            <div class="row">
                                <!-- Age -->
                                <div class="form-group col">
                                    <input type="number" class="form-control" name = "age" placeholder="Age *" value="">
                                </div>
                                <!--Rate -->
                                <div class="form-group col">
                                    <select class="form-control" name = "rate">
                                        <option class="hidden" selected disabled>Per Person *
                                        </option>
                                        <option>Fixed</option>
                                        <option>Negotiable</option>
                                    </select>
                                </div>
                                <!-- Speciality -->
                                <div class="form-group col">
                                    <input type="text" class="form-control" name = "speciality" placeholder="Specialty" value="" />
                                </div>
                                <!--Available Hours -->
                                <div class="form-group col">
                                    <select class="form-control" name = "availableHours">
                                        <option class="hidden"  selected disabled>Available Hours *
                                        </option>
                                        <option>Morining</option>
                                        <option>Evening</option>
                                        <option>As Require</option>
                                        <option>24/7</option>
                                    </select>
                                </div>
                                
                            </div>
                            <div class="row">
                                <!-- Password -->
                                <div class="form-group col-lg-6">
                                    <input type="password" class="form-control" name="password" placeholder="Password *" value="" />
                                </div>
                                <!-- Confirm Password -->
                                <div class="form-group col-lg-6">
                                    <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password *" value="" />
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-lg btn-primary col"><span>Register as Service
                                        Provider <i class="fas fa-user-tie"></i> </span> </button>
                            </div>
                                    
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3 class="register-heading">Apply as a Hirer</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" maxlength="10" minlength="10" class="form-control"
                                    placeholder="Phone *" value="" />
                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden" selected disabled>Please select your Sequrity Question
                                    </option>
                                    <option>What is your Birthdate?</option>
                                    <option>What is Your old Phone Number</option>
                                    <option>What is your Pet Name?</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="`Answer *" value="" />
                            </div>
                            <input type="submit" class="btnRegister" value="Register" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include("partials/footer.ejs") -%>